In [11]:
import pandas as pd
import numpy as np

In [3]:
np.mean(salary)

18250.0

-In a medical study,what is the average and median age of pateins with a specific medical condition?
pateint_age=[32,45,29,52,34,56,41,48,39,60,28,55]

In [5]:
patient_age=[32,45,29,52,34,56,41,48,39,60,28,55]

In [6]:
np.mean(patient_age)

43.25

In [7]:
np.median(patient_age)

43.0

-what is the average and median anual return on investment for a portfolio of diverse stocks ?
returns=[0.12,0.09,-0.05,0.15,0.18,-0.02,0.10,0.07,0.14,-0.08]

In [8]:
returns=[0.12,0.09,-0.05,0.15,0.18,-0.02,0.10,0.07,0.14,-0.08]

In [9]:
np.mean(returns)

0.07

In [10]:
np.median(returns)

0.095

-In a genomic study.what is the averge and median expression level of a speaker gene across differnt sample?
gene_expression=[2.5,3.0,2.2,3.5,2.8,3.2,2.9,3.1,2.7,3.3]

In [11]:
gene_expression=[2.5,3.0,2.2,3.5,2.8,3.2,2.9,3.1,2.7,3.3]

In [12]:
np.mean(gene_expression)

2.92

In [13]:
np.median(gene_expression)

2.95

In [ ]:
[2.5,3.0,2.2,3.5,2.8,3.2,2.9,3.1,2.7,3.3]

In [7]:
df=pd.read_csv('D:\housing1.csv')

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [12]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [17]:
med_rent_index=df["median_house_value"].median()

In [16]:
min_rent_index

206855.81690891474

In [18]:
med_rent_index

179700.0

In [21]:
df['population'].mean()

1425.4767441860465

In [25]:
# Find the index of the maximum value in the 'rent' column
max_rent_index = df['median_income'].idxmax()

In [36]:
max_rent_index

1566

In [37]:
df.iloc[max_rent_index]

longitude               -121.96
latitude                  37.74
housing_median_age          2.0
total_rooms               200.0
total_bedrooms             20.0
population                 25.0
households                  9.0
median_income           15.0001
median_house_value     350000.0
ocean_proximity       <1H OCEAN
Name: 1566, dtype: object

In [29]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [27]:
# Get the corresponding values in other columns for the row with maximum rent
max_rent_house = df.loc[max_rent_index]

In [28]:
max_rent_house

longitude               -121.96
latitude                  37.74
housing_median_age          2.0
total_rooms               200.0
total_bedrooms             20.0
population                 25.0
households                  9.0
median_income           15.0001
median_house_value     350000.0
ocean_proximity       <1H OCEAN
Name: 1566, dtype: object

In [33]:
max_sold_index = df['population'].idxmax()

In [34]:
max_sold_index

15360

In [38]:
df['longitude'].mode()

0   -118.31
dtype: float64

In [39]:
df["latitude"].mode()

0    34.06
dtype: float64

In [40]:
df['housing_median_age'].mode()

0    52.0
dtype: float64

In [42]:
df['total_rooms'].mode()

0    1527.0
dtype: float64

In [43]:
df['population'].mode()

0    891.0
dtype: float64

In [44]:
df['households'].mode()

0    306.0
dtype: float64

In [45]:
df['median_income'].mode()

0     3.1250
1    15.0001
dtype: float64

In [46]:
df['median_house_value'].mode()

0    500001.0
dtype: float64

In [13]:
df=pd.read_csv("D:\\dataset\\survey_results_public.csv",index_col="ResponseId")

In [14]:
df

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [15]:
df.isnull().sum()

Q120                       0
MainBranch                 0
Age                        0
Employment              1286
RemoteWork             15374
                       ...
ProfessionalTech       47401
Industry               52410
SurveyLength            2699
SurveyEase              2630
ConvertedCompYearly    41165
Length: 83, dtype: int64

In [24]:
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly' ].median(),inplace=True)

In [26]:
df['ConvertedCompYearly'].median()

74963.0

In [27]:
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly' ].mode()[0],inplace=True)

In [28]:
df['ConvertedCompYearly'].mode()

0    74963.0
dtype: float64

In [39]:
df.isnull().sum()

Q120                       0
MainBranch                 0
Age                        0
Employment             89184
RemoteWork             15374
                       ...
ProfessionalTech       47401
Industry               52410
SurveyLength            2699
SurveyEase              2630
ConvertedCompYearly        0
Length: 83, dtype: int64

In a retail store the sales of a product have been recorded over a year determin the average monthly sales the month with the higest sales,and the median sales to understand the overall performance

In [1]:
import pandas as pd
import numpy as np

# Monthly sales data
monthly_sales = [1200, 1500, 1800, 900, 2000, 2500, 3000, 1200, 1800, 2200, 2500, 2800]

In [2]:
#  sales data
df = pd.DataFrame({'Month': range(1, 13), 'Sales': monthly_sales})

In [49]:
df

    Month  Sales
0       1   1200
1       2   1500
2       3   1800
3       4    900
4       5   2000
5       6   2500
6       7   3000
7       8   1200
8       9   1800
9      10   2200
10     11   2500
11     12   2800

In [50]:
# Calculate average monthly sales
average_monthly_sales = df['Sales'].mean()

In [51]:
average_monthly_sales

1950.0

In [52]:
# Find the month with the highest sales
highest_sales_month = df.loc[df['Sales'].idxmax(), 'Month']

In [53]:
highest_sales_month

7

In [55]:
max_sales_index = (df['Sales'].mode()[0])

In [56]:
max_sales_index

1200

In [57]:
max_sales_index = df['Sales'].median()

In [58]:
max_sales_index

1900.0

analyse the performance of student in a class based on their test score compute the class average score the most common score and the median score to understand the overall perfprmance and identify the common weakness

In [8]:
data = {
    'StudentID': ['Ash', 'Rida','Suha','Nia','Anu'],
    'Math_Score': [85, 90, 92, 78, 90],
    'English_Score': [88, 82, 90, 85, 95],
    'Science_Score': [92, 95, 88, 78, 85],
    'History_Score': [75, 80, 85, 70, 78],
    'Programming_Score': [90, 88, 92, 85, 78],
    'Art_Score': [80, 85, 88, 75, 92]
}

s = pd.DataFrame(data)

In [9]:
s

,StudentID,Math_Score,English_Score,Science_Score,History_Score,Programming_Score,Art_Score
0,Ash,85,88,92,75,90,80
1,Rida,90,82,95,80,88,85
2,Suha,92,90,88,85,92,88
3,Nia,78,85,78,70,85,75
4,Anu,90,95,85,78,78,92

In [38]:
class_average = s.iloc[:, 1:].mean() 
 #class average

In [39]:
class_average

Math_Score           87.0
English_Score        88.0
Science_Score        87.6
History_Score        77.6
Programming_Score    86.6
Art_Score            84.0
dtype: float64

In [77]:
most_common_score

StudentID             Anu
Math_Score           90.0
English_Score          82
Science_Score          78
History_Score          70
Programming_Score      78
Art_Score              75
Name: 0, dtype: object

In [10]:
median_score = s.median()

In [11]:
median_score

Math_Score           90.0
English_Score        88.0
Science_Score        88.0
History_Score        78.0
Programming_Score    88.0
Art_Score            85.0
dtype: float64

In [84]:
median_score.min()#weaker area is histroy

78.0

In [13]:
s['StudentID'].max()#bright student

'Suha'

In [14]:
s['StudentID'].min()

'Anu'

In [16]:
max_score = s.max()

In [17]:
max_score

StudentID            Suha
Math_Score             92
English_Score          95
Science_Score          95
History_Score          85
Programming_Score      92
Art_Score              92
dtype: object

In [18]:
highest_scores = s.iloc[:, 1:].max()

In [19]:
highest_scores

Math_Score           92
English_Score        95
Science_Score        95
History_Score        85
Programming_Score    92
Art_Score            92
dtype: int64

In [40]:
class_average = s.iloc[:, 1:].mean()

In [41]:
class_average

Math_Score           87.0
English_Score        88.0
Science_Score        87.6
History_Score        77.6
Programming_Score    86.6
Art_Score            84.0
dtype: float64